DIV.styleme.blue A,
DIV.styleme.blue > UL,
DIV.styleme.blue.multiple {
    border: 3px double #69d2e7;
    border-radius: 5px;
    outline: 0px;
    font: 12px sans-serif;

    -moz-transition: all ease-in-out 0.2s;
}
DIV.styleme.blue A {
    padding: 1px 1px 0px;
    background-position: 96% 6px;
}
DIV.styleme.blue > A:focus,
DIV.styleme.blue > A:hover,
DIV.styleme.blue > UL.expanded,
DIV.styleme.blue > UL.expanded + A {
    outline: 0px solid highlight;
    border-style: solid;
    border-color: #a7dbd8;
}
DIV.styleme.blue > UL.expanded {
    border-radius: 0 0 5px 5px;
    border-top-color: white;
    padding: 0px 1px 1px;
    width: 99%;
}
DIV.styleme.blue.multiple > UL {
    border: 0px;
    left: auto;
}
DIV.styleme.blue > UL.expanded LI {
    text-indent: 2px;
    padding-top: 1px;
    background-color: #fff;
    border-radius: 2px;

    -moz-transition: all ease-in-out 0.2s;
}
DIV.styleme.blue > UL LI.hover,
DIV.styleme.blue.multiple > UL LI.clicked {
    background-color: #a7dbd8;
}